streamlit
streamlit-option-menu
folium
streamlit-folium
geopandas
plotly
seaborn
matplotlib
shapely
scikit-learn
boruta
imblearn
xgboost==1.2.0
numpy
fpdf
geopy
selenium
yellowbrick
keras
mlxtend
tqdm
tensorflow
