streamlit
streamlit-option-menu
folium
streamlit-folium
geopandas
plotly
seaborn
matplotlib
shapely
sklearn
boruta
imblearn
xgboost
numpy
fpdf
geopy
selenium
yellowbrick
keras
mlxtend
tensorflow==1.15.0
